Connected Services/ServiceReference2/BikeService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="BikeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56253/BikeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56253/BikeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56253/BikeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBikeService_GetBikes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBikes" />
  </wsdl:message>
  <wsdl:message name="IBikeService_GetBikes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBikesResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeService_GetBike_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBike" />
  </wsdl:message>
  <wsdl:message name="IBikeService_GetBike_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBikeResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeService_GetParts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetParts" />
  </wsdl:message>
  <wsdl:message name="IBikeService_GetParts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartsResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeService_GetPart_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPart" />
  </wsdl:message>
  <wsdl:message name="IBikeService_GetPart_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPartResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeService_getReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:getReviews" />
  </wsdl:message>
  <wsdl:message name="IBikeService_getReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IBikeService_addReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:addReviews" />
  </wsdl:message>
  <wsdl:portType name="IBikeService">
    <wsdl:operation name="GetBikes">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeService/GetBikes" message="tns:IBikeService_GetBikes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeService/GetBikesResponse" message="tns:IBikeService_GetBikes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBike">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeService/GetBike" message="tns:IBikeService_GetBike_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeService/GetBikeResponse" message="tns:IBikeService_GetBike_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetParts">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeService/GetParts" message="tns:IBikeService_GetParts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeService/GetPartsResponse" message="tns:IBikeService_GetParts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPart">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeService/GetPart" message="tns:IBikeService_GetPart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeService/GetPartResponse" message="tns:IBikeService_GetPart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeService/getReviews" message="tns:IBikeService_getReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBikeService/getReviewsResponse" message="tns:IBikeService_getReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IBikeService/addReviews" message="tns:IBikeService_addReviews_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBikeService" type="tns:IBikeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBikes">
      <soap:operation soapAction="http://tempuri.org/IBikeService/GetBikes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBike">
      <soap:operation soapAction="http://tempuri.org/IBikeService/GetBike" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetParts">
      <soap:operation soapAction="http://tempuri.org/IBikeService/GetParts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPart">
      <soap:operation soapAction="http://tempuri.org/IBikeService/GetPart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReviews">
      <soap:operation soapAction="http://tempuri.org/IBikeService/getReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReviews">
      <soap:operation soapAction="http://tempuri.org/IBikeService/addReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BikeService">
    <wsdl:port name="BasicHttpBinding_IBikeService" binding="tns:BasicHttpBinding_IBikeService">
      <soap:address location="http://localhost:56253/BikeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>