Connected Services/ServiceReference2/BikeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56253/BikeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfBike">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Bike" nillable="true" type="tns:Bike" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBike" nillable="true" type="tns:ArrayOfBike" />
  <xs:complexType name="Bike">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="ser:guid" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bike" nillable="true" type="tns:Bike" />
  <xs:complexType name="ArrayOfPart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Part" nillable="true" type="tns:Part" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPart" nillable="true" type="tns:ArrayOfPart" />
  <xs:complexType name="Part">
    <xs:sequence>
      <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="ser:guid" />
      <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="size" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Part" nillable="true" type="tns:Part" />
  <xs:complexType name="ArrayOfItemsReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemsReview" nillable="true" type="tns:ItemsReview" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemsReview" nillable="true" type="tns:ArrayOfItemsReview" />
  <xs:complexType name="ItemsReview">
    <xs:sequence>
      <xs:element minOccurs="0" name="dateofReview" type="xs:dateTime" />
      <xs:element minOccurs="0" name="itemId" type="ser:guid" />
      <xs:element minOccurs="0" name="rating" type="xs:int" />
      <xs:element minOccurs="0" name="review" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" type="ser:guid" />
      <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemsReview" nillable="true" type="tns:ItemsReview" />
</xs:schema>